@font-face {
  font-family: "Lato";
  src: url("./Lato-Regular.woff2") format("woff2"),
       url("./Lato-Regular.woff") format("woff");
}

:root {
    /* f7f7f2-00cecb-06d6a0-ffc655-ff5e5b */
    --coolor-1: #f7f7f2;
    --coolor-2: #00cecb;
    --coolor-3: #331832;
    --coolor-4: #ffc655;
    --coolor-5: #ff5e5b;
}

* {
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--coolor-2);
    background-image: linear-gradient(135deg, #65def1 0%, var(--coolor-2) 100%);    
}

article {
    float: left;
}

article section {
    visibility: hidden;
}

article:target section {
    visibility: visible;
    z-index: 1;
}

h1 {
    margin: 0;
    padding: .5rem 1rem 0 0;
    font-weight: normal;
    height: 2.1rem;
}

article:first-of-type h1 {
    padding-left: 1.5rem;
}

h1 a {
    padding: .5rem 1.5rem;
    display: inline-block;
    width: 5rem;        
    background-color: var(--coolor-4);        
    text-align: center;
    font-size: 1rem;
    color: var(--coolor-1);
    text-decoration-color: var(--coolor-5);
    text-decoration-style: solid;
}

article:target h1 a {
    background-color: var(--coolor-1);
    color: var(--coolor-5);
    text-decoration: none;
}

section {
    width: calc(100% - 2rem);
    height: calc(100% - 5rem);
    background-color: var(--coolor-1);
    color: var(--coolor-3);
    position: absolute;
    left: 0;
    padding: 1rem;
    overflow: auto;
}

aside {
    float:left;
    margin-top: 2.6rem;
}

aside section {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table tbody + tbody {
    border-top: solid .5rem var(--coolor-1);
}

th, td {
    padding: .5rem 1.5rem;
    font-weight: normal;
}

th[scope=col] {
    background-color: var(--coolor-5);
    color: var(--coolor-1);
}

th[scope=col]:first-of-type {
    background-color: #e85653;    
}

tr:nth-of-type(2n+1) td {
    background-color: #e1e1dc;
}

tr:nth-of-type(2n) th[scope=row] {
    background-color: #e1e1dc;
}

tr:nth-of-type(2n+1) th[scope=row] {
    background-color: #cbcbc7;
}

tr:hover td, tr:hover th[scope=row] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cbcbc7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
